// content styles

content-top-padding = 30px
content-bottom-padding = 60px

#content
    position fixed
    z-index 50
    top 0
    left 0
    height: 100vh
    width 100%
    box-sizing: border-box
    overflow-y auto
    overflow-x hidden
    padding-top header-height + content-top-padding 
    padding-bottom content-bottom-padding
