//- #allframes
    include ../darlingspagemodule/darlingspage.pug
    include ../settingspagemodule/settingspage.pug
    include ../newdeedpagemodule/newdeedpage.pug
    include ../editdeedpagemodule/editdeedpage.put
include ../darlingspagemodule/darlingspage.pug
include ../settingspagemodule/settingspage.pug
include ../newdeedpagemodule/newdeedpage.pug
include ../editdeedpagemodule/editdeedpage.pug
include ../manualaddframemodule/manualaddframe.pug