//- slideinframe structure
.slideinframe
    .slideinframe-back-button
        svg.back-icon: use(href="#svg-cross-icon")
    .slideinframe-content.content
        block content
    .slideinframe-accept-button
        svg.accept-icon: use(href="#svg-check-icon") 