body
    include ../svgiconmodule/svgicon.pug
    include ../headermodule/header.pug
    include ../contentmodule/content.pug
    include ../addbuttonmodule/addbutton.pug
    include ../slideinframemodule/allframes.pug