// deeds styles

add-icon-size = 24px
deed-size = 150px
deed-gap = 24px

#deedview-hidden-template
    display none

#deeds
    user-select none
    display grid
    gap: deed-gap
    grid-template-columns: repeat(auto-fit, deed-size)
    grid-template-rows: repeat(auto-fit, deed-size)
    justify-content: center
    h1 
        position absolute
        width 100%
        padding 15px
        box-sizing: border-box
        left 0
        top header-height * 2
    .deed-inner
        pointer-events: none


.deed
    position relative
    border-radius 7px
    padding 7px
    box-sizing: border-box
    height deed-size
    width deed-size
    margin auto
    background-color alpha(cd-bright, 0.82)
    color cd-dark
    font-weight: bold


.deed-inner
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    // display: flex
    // justify-content: space-between
    // box-sizing: border-box

.add-icon
    position absolute
    top 0
    right 0
    color cd-flash
    // width: deed-size
    // height deed-size
    width: add-icon-size
    height add-icon-size