doctype html
html
    head
        meta(charset='utf-8')
        title Scarlett and Lenny - reward eachother for being awesome
        link(rel='manifest' href='manifest.json')
        meta(name='description', content='This is a private PWA for Scarlett and Lenny. One pillar to stand against the fall to destructive normality on the relationship. Giving eachothers hints what we could do better, and rewarding eachother for really doing so. And no this app is not the only pillar standing for this mission, but a nicely handy one :D.')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#113137")
        meta(name="msapplication-TileColor", content="#da532c")
        
        meta(name="theme-color", content="#B73783")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="#B73783")
        meta(name="apple-mobile-web-app-title", content="Scores")

        include styles-include.pug
        include scripts-include.pug
    include ../../source/index/indexbody.pug
