doctype html
html
    head
        meta(charset='utf-8')
        title EasyHabits - Reward yourself by sticking to your Habits
        link(rel='manifest' href='manifest.json')
        meta(name='description', content='Create your habits and do them - and increase your own private Score! This app will let you do exactly that - maybe share your success with your friends - maybe print a token later?^^ we will see...')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#113137")
        meta(name="msapplication-TileColor", content="#da532c")
        
        meta(name="theme-color", content="#B73783")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="#B73783")
        meta(name="apple-mobile-web-app-title", content="Scores")

        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
