//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-heart-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 161 166" fill="none")
        path(d="M130.5 98.964C116.483 128 97 151 97 151C97 151 44.5 116 28 98.964C11.5 81.9279 7.03239 53.8762 28 38.5C50.5 22 80.5 47.5 80.5 47.5C80.5 47.5 98 11.4091 126.5 23.5C155 35.5909 138.466 82.464 130.5 98.964Z", stroke="currentColor", stroke-width="10")
        path(d="M61 95C61 95 66.5 106 79.5 106C92.5 106 98.5 90.5 98.5 90.5", stroke="currentColor", stroke-width="10")

    symbol#svg-sad-heart-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 161 166" fill="none")
        path(d="M130.5 98.964C116.483 128 97 151 97 151C97 151 44.5 116 28 98.964C11.5 81.9279 7.03239 53.8762 28 38.5C50.5 22 80.5 47.5 80.5 47.5C80.5 47.5 98 11.4091 126.5 23.5C155 35.5909 138.466 82.464 130.5 98.964Z", stroke="currentColor", stroke-width="10")
        path(d="M61 104.5C61 104.5 66.5 93.5 79.5 93.5C92.5 93.5 98.5 109 98.5 109", stroke="currentColor", stroke-width="10")
    
    symbol#svg-settings-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M17.25,12C17.25,12.23 17.23,12.46 17.2,12.68L18.68,13.84C18.81,13.95 18.85,14.13 18.76,14.29L17.36,16.71C17.27,16.86 17.09,16.92 16.93,16.86L15.19,16.16C14.83,16.44 14.43,16.67 14,16.85L13.75,18.7C13.72,18.87 13.57,19 13.4,19H10.6C10.43,19 10.28,18.87 10.25,18.7L10,16.85C9.56,16.67 9.17,16.44 8.81,16.16L7.07,16.86C6.91,16.92 6.73,16.86 6.64,16.71L5.24,14.29C5.15,14.13 5.19,13.95 5.32,13.84L6.8,12.68C6.77,12.46 6.75,12.23 6.75,12C6.75,11.77 6.77,11.54 6.8,11.32L5.32,10.16C5.19,10.05 5.15,9.86 5.24,9.71L6.64,7.29C6.73,7.13 6.91,7.07 7.07,7.13L8.81,7.84C9.17,7.56 9.56,7.32 10,7.15L10.25,5.29C10.28,5.13 10.43,5 10.6,5H13.4C13.57,5 13.72,5.13 13.75,5.29L14,7.15C14.43,7.32 14.83,7.56 15.19,7.84L16.93,7.13C17.09,7.07 17.27,7.13 17.36,7.29L18.76,9.71C18.85,9.86 18.81,10.05 18.68,10.16L17.2,11.32C17.23,11.54 17.25,11.77 17.25,12M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M12,10C10.89,10 10,10.89 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12C14,10.89 13.1,10 12,10Z')
    
    symbol#svg-gitub-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z")

    symbol#svg-logo-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 300 300" fill="none")
        path(d="M133.918 154.952C119.862 186.227 100.326 211 100.326 211C100.326 211 47.6833 173.301 31.1384 154.952C14.5934 136.602 10.1136 106.387 31.1384 89.8253C53.6996 72.053 83.7814 99.5193 83.7814 99.5193C83.7814 99.5193 101.329 60.6455 129.907 73.6687C158.484 86.6919 141.905 137.179 133.918 154.952Z", stroke="currentColor", stroke-width="10")
        path(d="M166.082 172.952C180.138 204.227 199.674 229 199.674 229C199.674 229 252.317 191.301 268.862 172.952C285.407 154.602 289.886 124.387 268.862 107.825C246.3 90.053 216.219 117.519 216.219 117.519C216.219 117.519 198.671 78.6455 170.093 91.6687C141.516 104.692 158.095 155.179 166.082 172.952Z", stroke="currentColor", stroke-width="10")
        path(d="M191 174.645C191 174.645 196.573 186 209.747 186C222.92 186 229 170 229 170", stroke="currentColor", stroke-width="10")
        path(d="M69 158.645C69 158.645 74.5733 170 87.7467 170C100.92 170 107 154 107 154", stroke="currentColor", stroke-width="10")

    symbol#svg-cross-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M19,3H16.3H7.7H5A2,2 0 0,0 3,5V7.7V16.4V19A2,2 0 0,0 5,21H7.7H16.4H19A2,2 0 0,0 21,19V16.3V7.7V5A2,2 0 0,0 19,3M15.6,17L12,13.4L8.4,17L7,15.6L10.6,12L7,8.4L8.4,7L12,10.6L15.6,7L17,8.4L13.4,12L17,15.6L15.6,17Z')
    
    symbol#svg-check-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z")

    symbol#svg-add-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z")

    symbol#svg-copy-icon(preserveAspectRatio="xMidYMid meet" viewBox="-21 0 512 512")
        path(fill="currentColor" d="m325.332031 512h-266.664062c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-288c0-32.363281 26.304688-58.664062 58.667969-58.664062h10.664062c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16h-10.664062c-14.699219 0-26.667969 11.964843-26.667969 26.664062v288c0 14.699219 11.96875 26.667969 26.667969 26.667969h266.664062c14.699219 0 26.667969-11.96875 26.667969-26.667969v-10.664062c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v10.664062c0 32.363281-26.304688 58.667969-58.667969 58.667969zm0 0")
        path(fill="currentColor" d="m410.667969 384h-224c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-266.664062c0-32.363281 26.304688-58.667969 58.667969-58.667969h224c32.363281 0 58.664062 26.304688 58.664062 58.667969v266.664062c0 32.363281-26.300781 58.667969-58.664062 58.667969zm-224-352c-14.699219 0-26.667969 11.96875-26.667969 26.667969v266.664062c0 14.699219 11.96875 26.667969 26.667969 26.667969h224c14.699219 0 26.664062-11.96875 26.664062-26.667969v-266.664062c0-14.699219-11.964843-26.667969-26.664062-26.667969zm0 0")

    symbol#svg-trash-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z")

    symbol#svg-metamask-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 404 420.2')
        style .st0{fill:#e4761b;stroke:#e4761b}.st1{fill:#f6851b;stroke:#f6851b}.st2{fill:#763d16;stroke:#763d16}.st3{fill:#e2761b;stroke:#e2761b}.st4{fill:#c0ad9e;stroke:#c0ad9e}.st5{fill:#cd6116;stroke:#cd6116}.st6{fill:#e4751f;stroke:#e4751f}.st7{fill:#233447;stroke:#233447}.st8{fill:#d7c1b3;stroke:#d7c1b3}.st9{fill:#161616;stroke:#161616}
        path.st0(d='M382.9 290.9l-24.4 82.5-47.9-13.1z')
        path.st0(d='M310.6 360.3l46.2-63.3 26.1-6.1z')
        path.st1(d='M347 228.7l35.9 62.2-26.1 6.1zM347 228.7l23.1-16 12.8 78.2z')
        path.st2(d='M317.6 181.7l66.4-27.2-3.3 14.9zM378.6 187.3l-61-5.6 63.1-12.3z')
        path.st2(d='M378.6 187.3l-8.5 25.4-52.5-31zM391.9 160.8l-11.2 8.6 3.3-14.9zM378.6 187.3l2.1-17.9 8.9 7.4z')
        path.st3(d='M259.1 340.2l16.6 5.3 34.9 14.8z')
        path.st2(d='M370.1 212.7l8.5-25.4 7.3 5.6zM370.1 212.7L301.2 190l16.4-8.3z')
        path.st2(d='M334 103.8l-16.4 77.9-16.4 8.3z')
        path.st2(d='M384 154.5l-66.4 27.2 16.4-77.9z')
        path.st2(d='M334 103.8l69.3-8-19.3 58.7z')
        path.st1(d='M370.1 212.7l-23.1 16-45.8-38.7z')
        path.st2(d='M400.3 39.7l3 56.1-69.3 8z')
        path.st3(d='M400.3 39.7L261.8 140.4 260 72.1z')
        path.st1(d='M157 63.9l103 8.2 1.8 68.3z')
        path.st2(d='M301.2 190l-39.4-49.6 72.2-36.6z')
        path.st0(d='M301.2 190l45.8 38.7-64.3 7.1z')
        path.st0(d='M282.7 235.8l-20.9-95.4 39.4 49.6z')
        path.st2(d='M334 103.8l-72.2 36.6L400.3 39.7z')
        path.st4(d='M157.9 358.7l32.7 34.1-44.5-40.5z')
        path.st5(d='M310.6 360.3l15.5-58.9 30.7-4.4z')
        path.st3(d='M25.3 194.6l56.6-59.5-49.3 52.4z')
        path.st1(d='M356.8 297l-30.7 4.4 20.9-72.7zM261.8 140.4l-55.1-1.8L157 63.9z')
        path.st6(d='M347 228.7l-20.9 72.7-1.7-35.5z')
        path.st5(d='M282.7 235.8l64.3-7.1-22.6 37.2z')
        path.st1(d='M206.7 138.6l55.1 1.8 20.9 95.4z')
        path.st0(d='M206.7 138.6L58 1l99 62.9zM156.9 379.6l-129.2 40-25.8-98.5z')
        path.st2(d='M44.5 219.2l48.8-38.3 40.9 9.5z')
        path.st2(d='M134.2 190.4l-40.9-9.5 21.9-90.4z')
        path.st2(d='M32.6 187.5l60.7-6.6-48.8 38.3z')
        path.st5(d='M324.4 265.9l-25.2-12.7-16.5-17.4z')
        path.st2(d='M32.6 187.5l-4.3-22.7 65 16.1z')
        path.st7(d='M294 281.8l5.2-28.6 25.2 12.7z')
        path.st1(d='M326.1 301.4L294 281.8l30.4-15.9z')
        path.st2(d='M93.3 180.9l-65-16.1-5.3-19.1zM115.2 90.5l-21.9 90.4L23 145.7zM115.2 90.5l91.5 48.1-72.5 51.8z')
        path.st0(d='M134.2 190.4l72.5-51.8 32.3 98.7zM239 237.3l-100.2-2.1-4.6-44.8z')
        path.st1(d='M44.5 219.2l89.7-28.8 4.6 44.8zM282.7 235.8l-43.7 1.5-32.3-98.7z')
        path.st5(d='M299.2 253.2l-5.2 28.6-11.3-46z')
        path.st2(d='M58 1l148.7 137.6-91.5-48.1z')
        path.st0(d='M1.9 321.1l125.4-5.2 29.6 63.7z')
        path.st5(d='M156.9 379.6l-29.6-63.7 61.6-3z')
        path.st1(d='M294 281.8l32.1 19.6 17.7 41.7zM138.8 235.2L1.9 321.1l42.6-101.9zM127.3 315.9L1.9 321.1l136.9-85.9zM282.7 235.8l8.2 29.8-39.6 2.3zM251.3 267.9L239 237.3l43.7-1.5z')
        path.st4(d='M190.6 392.8l-33.7-13.2 117.2 19.7z')
        path.st2(d='M44.5 219.2l-19.2-24.6 7.3-7.1z')
        path.st8(d='M287.4 384.7l-13.3 14.6-117.2-19.7z')
        path.st0(d='M293.7 348.9l-136.8 30.7 32-66.7z')
        path.st8(d='M156.9 379.6l136.8-30.7-6.3 35.8z')
        path.st2(d='M23 145.7l-4.5-76.9 96.7 21.7zM32.6 187.5L19.3 174l9-9.2z')
        path.st5(d='M216.6 257.1l22.4-19.8-3.2 48.4z')
        path.st5(d='M239 237.3l-22.4 19.8L184 274z')
        path.st1(d='M343.8 343.1l-6.1-4.5-43.7-56.8z')
        path.st5(d='M184 274l-45.2-38.8 100.2 2.1z')
        path.st6(d='M235.8 285.7l3.2-48.4 12.3 30.6z')
        path.st2(d='M14.9 153.3l8.1-7.6 5.3 19.1z')
        path.st7(d='M235.8 285.7L184 274l32.6-16.9z')
        path.st2(d='M115.2 90.5L18.5 68.8 58 1z')
        path.st4(d='M274.1 399.3l5.5 15-89-21.5z')
        path.st1(d='M188.9 312.9L184 274l51.8 11.7z')
        path.st6(d='M138.8 235.2L184 274l4.9 38.9z')
        path.st1(d='M251.3 267.9l39.6-2.3 46.8 73zM138.8 235.2l50.1 77.7-61.6 3z')
        path.st6(d='M251.3 267.9l49.2 74.9-64.7-57.1z')
        path.st1(d='M235.8 285.7l64.7 57.1-6.8 6.1z')
        path.st1(d='M293.7 348.9l-104.8-36 46.9-27.2zM337.7 338.6l-37.2 4.2-49.2-74.9z')
        path.st4(d='M347.5 373.8l-16 32.1-51.9 8.4zM279.6 414.3l-5.5-15 13.3-14.6z')
        path.st4(d='M287.4 384.7l9.8-3.9-17.6 33.5zM279.6 414.3l17.6-33.5 50.3-7z')
        path.st9(d='M337.7 338.6l12.3 7.5-37.4 4.5z')
        path.st9(d='M312.6 350.6l-12.1-7.8 37.2-4.2zM308.3 356.5l45.5-5.5-6.3 22.8z')
        path.st9(d='M347.5 373.8l-50.3 7 11.1-24.3zM297.2 380.8l-9.8 3.9 6.3-35.8zM293.7 348.9l6.8-6.1 12.1 7.8zM350 346.1l3.8 4.9-45.5 5.5z')
        path.st9(d='M308.3 356.5l4.3-5.9 37.4-4.5zM293.7 348.9l14.6 7.6-11.1 24.3z')
        path.st9(d='M312.6 350.6l-4.3 5.9-14.6-7.6z')

    symbol#svg-qrscan-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M4,4H10V10H4V4M20,4V10H14V4H20M14,15H16V13H14V11H16V13H18V11H20V13H18V15H20V18H18V20H16V18H13V20H11V16H14V15M16,15V18H18V15H16M4,20V14H10V20H4M6,6V8H8V6H6M16,6V8H18V6H16M6,16V18H8V16H6M4,11H6V13H4V11M9,11H13V15H11V13H9V11M11,6H13V10H11V6M2,2V6H0V2A2,2 0 0,1 2,0H6V2H2M22,0A2,2 0 0,1 24,2V6H22V2H18V0H22M2,18V22H6V24H2A2,2 0 0,1 0,22V18H2M22,22V18H24V22A2,2 0 0,1 22,24H18V22H22Z')

    symbol#svg-qrcode-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M3,11H5V13H3V11M11,5H13V9H11V5M9,11H13V15H11V13H9V11M15,11H17V13H19V11H21V13H19V15H21V19H19V21H17V19H13V21H11V17H15V15H17V13H15V11M19,19V15H17V19H19M15,3H21V9H15V3M17,5V7H19V5H17M3,3H9V9H3V3M5,5V7H7V5H5M3,15H9V21H3V15M5,17V19H7V17H5Z')

    symbol#svg-code-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill='currentColor' d='M5,3H7V5H5V10A2,2 0 0,1 3,12A2,2 0 0,1 5,14V19H7V21H5C3.93,20.73 3,20.1 3,19V15A2,2 0 0,0 1,13H0V11H1A2,2 0 0,0 3,9V5A2,2 0 0,1 5,3M19,3A2,2 0 0,1 21,5V9A2,2 0 0,0 23,11H24V13H23A2,2 0 0,0 21,15V19A2,2 0 0,1 19,21H17V19H19V14A2,2 0 0,1 21,12A2,2 0 0,1 19,10V5H17V3H19M12,15A1,1 0 0,1 13,16A1,1 0 0,1 12,17A1,1 0 0,1 11,16A1,1 0 0,1 12,15M8,15A1,1 0 0,1 9,16A1,1 0 0,1 8,17A1,1 0 0,1 7,16A1,1 0 0,1 8,15M16,15A1,1 0 0,1 17,16A1,1 0 0,1 16,17A1,1 0 0,1 15,16A1,1 0 0,1 16,15Z')