//- pointadd structure
input.point-input(type="number" value="0")
.add-button-container
    .button-plus1.add-button.click-button +1
    .button-plus2.add-button.click-button +2
    .button-plus5.add-button.click-button +5
    .button-plus10.add-button.click-button +10
