// pointadd styles

.add-button-container
    margin auto
    margin-top: 5px
    background-color cd-dark
    padding 20px
    display flex
    justify-content: space-around
    max-width 500px

    .add-button
        color cd-dark
        background-color cd-flash
        font-size 20px
        font-weight bold
        border-radius 7px
        width 50px
        padding 5px
        text-align center



// //- pointadd structure
// input.point-input(type="number" value="0")
// .add-button-container
//     .button-plus1.add-button.click-button +1
//     .button-plus2.add-button.click-button +2
//     .button-plus5.add-button.click-button +5
//     .button-plus10.add-button.click-button +10
