//- header structure
#header
    #header-left
        h1#app-name EasyHabits
    #header-center.clickbutton
        h1#private-score-display
    #header-right
        .click-button
            svg#settings-icon: use(href="#svg-settings-icon")
    