// header styles
#header
    position fixed
    z-index 75
    top 0
    left 0
    overflow hidden
    height: header-height
    width: 100%
    box-sizing: border-box
    padding 15px
    display flex
    background-color rgba(0, 0, 0, 0.2)
    justify-content: space-between

    h1
        padding 10px
        font-size 35px
        color alpha(cd-flash, 0.8)

#heart-icon
    height 60px
    width 60px

#darling-image
    background-color cd-flash
    height 60px
    width 60px
    border-radius: 50%

#settings-icon
    height 50px
    width 50px

.click-button
    cursor pointer

.hidden  
    display: none


