//- newhabitpage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #newhabitpage-content
        h1 Create a new habit!
        #newhabit-edit
            include ../habitsmodule/habitedit.pug
