//- edithabitpage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #edithabitpage-content
        h1 Edit your habit!
        #habit-edit
            include ../habitsmodule/habitedit.pug
        #delete-button
            .click-button
                svg#delete-button-icon: use(href="#svg-trash-icon")