// editdeedpage styles
delete-button-size = 55px

#deed-edit
    .deed
        margin-top 25px
        margin-bottom 15px

#delete-button
    margin-top: 20px
    // background-color: cd-dark
    width 100%
    height delete-button-size

#delete-button-icon
    width  delete-button-size
    height delete-button-size