// addbutton styles
add-icon-size = 50px
side-margin = 30px

#addbutton
    border-radius: 50%
    // background-color cd-flash
    // background-color cd-bright
    position: fixed
    bottom side-margin
    right side-margin
    height: add-icon-size
    width: add-icon-size
    z-index: 50

#add-button-icon
    width add-icon-size
    height add-icon-size
    color cd-bright