// settingspage styles
picture-size = 90px

#settingspage-content
    input
        margin-top: 0
    h2
        margin-top: 5px        

#picture-display
    width picture-size
    height picture-size
    background-color cd-bright
    border-radius: 50%
    outline none