//- newdeedpage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #newdeedpage-content
        h1 Create a new deed!
        #newdeed-edit
            include ../deedsmodule/deededit.pug
