//- darlingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #darlingspage-content
        h1 Choose your Darling!
        h2 Your Darlings' ID:
        input#chosen-darling-address(type="text" placeholder="Paste here")
        
        #connected-indicator
            #not-connected-decoration
                svg#not-connected-icon: use(href="#svg-sad-heart-icon")
                p Your Darling is not connected to you.

            #connected-decoration
                svg#connected-icon: use(href="#svg-logo-icon")
                p Your Darling is connected to you :)
                h2 Your Score
                #my-score-display